
    <div class="footer">
        <p class="footerLink">LINK: <a href="https://warm-brushlands-71343.herokuapp.com"> HEROKU</a></p>
    </div>

   
    <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
