
    <div class="footer">
        <p class="footerLink">CMT4: Opdracht 6 - mobiele kunst app</p>
        <p class="footerLink"><a href=">https://warm-brushlands-71343.herokuapp.com">Link Heroku</a></p>
    </div>

   
    <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
