<!doctype html>
<html>
	<head>
		<title>Sotheby's</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<div class="header">
    <a href="/"><img class="logo" src="http://www.sothebys.com/etc/designs/redesigns/sothebys/redesignlibs/source/img/logo2015.jpg" alt=""></a>
	    
	</div>
	<div class="center">
         <i class="fa fa-bars" aria-hidden="true" id="menubutton"></i>
        </div>
	<nav>
        <h1>Artiesten:</h1>
        
          <% for (var i = 0; i < categorieen.length; i++) { %>
            <a href="/categorieen/<%- i %>" class="nav-items"><%- categorieen[i] %></a>
          <% } %>
    </nav>
	
	
	
	

	
	
	<div class="divider"><p class="center">-------------------------------------------</p></div>
