#menubutton{
    margin-top:10%;
}

body {
  font-family: helvetica;
  width: 100%;
  margin: 0 auto;
  line-height: 1.4em;
}

section {
  margin: 25px 0;
  padding: 0 10px;
  
}



img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  
}


span{
    text-decoration: underline;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.summ{
  margin: 10px 0;
  padding: 0px;
  font-weight: 500;
}

p.bid{
    width:40%;
    padding: 2%;
    background-color:black;
    color:white;
    text-align: center;
    /*margin-left:auto;
    margin-right:auto;*/
    margin-bottom:1em;
    
 
}

a.more{
    text-decoration: none;
}

p.more{
    width:40%;    
    padding: 2%;
    background-color:black;
    color:white;
    text-align: center;
    /*margin-left:auto;
    margin-right:auto;*/
    
 
}

h1{
    text-align: left;
    font-weight: bold;
    margin: 1em 0;
}


h1 a{
    text-decoration: none;
    color: black;
    
    
    line-height: 2em;
}

h1 div{
    margin: 3em 0 1em 0;
}

h2 {
  margin: 25px 0;
  font-size:1em;
  padding: .5em;
  background-color:black;
  color:white;
  font-weight: bold;
}

h2 a{
    text-decoration: none;
    color: white;
    
    
    
    line-height: 2em;
}

h3 {
  display: block;
    font-size: .8em;
    font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}


nav {
  margin: 25px 0 0 0;
  padding: 1em;
    display: none;

}


nav a{
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    color: black;
    padding: 2%;
    
}

nav a:hover{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    padding: 2%;
    background-color: black;
    
}

.nav-items{
    
}


p { 
    padding-bottom: 1em; 
    line-height: 1.5em;
    font-family: 'Hind', sans-serif;
}
.header{
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    background-color: black;
    display: block;
}

.header img{
    width: 40%;
    margin: 2em auto;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}


.categorien{
    display: block;
    
}



div .divider{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.divider p{
    margin:2em 0;
}
.center
{
    text-align: center;
}


.datum{
    color: black;
    margin-top:10px;
    
}


.page{
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    color:black;
}


a.backbtn{
    padding: 2%;
    background-color:black;
    color: white;
    margin-top:2em;
}


p.center{
    padding: 0;
}
.half h2{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.footerLink{
    margin: 5px 30px;
    padding-top: 25px;
}

.footer{
    background-color:black;
    color:white;
    width: 100%;
    padding: 25px auto 0 auto;
    min-height:100px;
    color:white;
    text-align: center;
}

.footer i{
    margin: 5px 30px;
    padding-top: 27px;
}

i{
   margin: 0 10px; 
}

.footer a{
    color:white;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}